@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1733805078796') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geren:before {
  content: "\e670";
}

.icon-pinglun:before {
  content: "\e60c";
}

.icon-gengxinrizhi:before {
  content: "\e7d7";
}

