@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1732433440295') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\eab7";
}

.icon-pinterest:before {
  content: "\e640";
}

.icon-google:before {
  content: "\e87a";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-twitter-fill:before {
  content: "\e63d";
}

.icon-linkedin:before {
  content: "\eccc";
}

