* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.ccc{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: background-color 3.5s ease;
    z-index: 1000;
}

.load{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transform: scale(2);
}

.t{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: load 3s linear infinite;
}

.t::after{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(2, 180, 249);
}

.t:nth-child(1){
    animation-delay: 0.1s;
}

.t:nth-child(2){
    animation-delay: 0.15s;
}

.t:nth-child(3){
    animation-delay: 0.25s;
}

.t:nth-child(4){
    animation-delay: 0.35s;
}

.t:nth-child(5){
    animation-delay: 0.55s;
}

.t:nth-child(6){
    animation-delay: 0.8s;
}

@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(-350deg);
    }
    79%{
        transform: rotate(-359deg);
        opacity: 1;
    }
    80%{
        transform: rotate(-360deg);
        opacity: 0;
    }
    100%{
        transform: rotate(-360deg);
        opacity: 1;
    }
}
/**/
.nav{
    position: fixed;
    top: 0;
    width:100%;
    height:75px;
    padding: 20px 0;
    box-shadow: none;
    transition: padding 0.25s, box-shadow 0.25s;
    line-height: 75px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(2, 180, 249);
    z-index: 100;
}

.nav .main {
    position: relative;
    width: 1700px;
    height: 75px;
    margin: 0 auto;
}
.nav .main .logo{
    position: relative;
    float: left;
    width: 250px;
    height: 75px;
}

.nav .main .logo img{
    position: relative;
    left: 12px;
    top: 14px;
}

.nav .main .list{
    position: relative;
    float: left;
    width: 615px;
    height: 75px;
    margin-left: 45%;
}

.nav .main .list li{
    position: relative;
    display: inline;
    margin-right: 45px;
}

.nav .main .list span{
    color:white;
    transition: color 0.25s;
}

.nav .main .search{
    position: relative;
    float: left;
    width: 0px;
    height: 0px;
}

.nav .main .search span{
    position: relative;
    bottom: 2px;
    color: white;
    transition: color 0.25s;
    font-size: 25px;
    cursor: pointer;
}

.nav .main .list a{
    color: white;
    transition: color 0.25s;
}

.nav .main .list a:hover{
    color: rgb(41, 41, 41);
}

.nav .main .list a:hover span{
    color: rgb(41, 41, 41);
}

.nav .main .search span:hover{
    color: rgb(41, 41, 41);
}

.nav .main .list .drop li a{
    color: black;
}

.nav .main .list .one .drop{
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #ffffff; 
    width: 375px;
    height: 150px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, top 0.3s ease;
    z-index: 1;
}

.nav .main .list .one .drop li{
    display: block;
    width: 375px;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.nav .main .list .one .drop span{
    opacity: 0;
    margin-left: 5px;
    transition: margin-right 0.3s ease,margin-left 0.3s ease,opacity 0.3s ease;
    color: black;
}

.nav .main .list .one .drop li:hover{
    background-color: rgb(191, 221, 114);
}

.nav .main .list .one .drop a:hover{
    color: rgb(50, 78, 169);
}

.nav .main .list .one .drop li:hover span{
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
}

.nav .main .list .two .drop{
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #ffffff; 
    width: 400px;
    height: 350px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, top 0.3s ease;
    z-index: 1;
}

.nav .main .list .two .drop li{
    display: block;
    width: 400px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-weight: 400;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.nav .main .list .two .drop span{
    opacity: 0;
    margin-left: 5px;
    transition: margin-right 0.3s ease,margin-left 0.3s ease,opacity 0.3s ease;
    color: black;
}

.nav .main .list .two .drop li:hover{
    background-color: rgb(191, 221, 114);
}

.nav .main .list .two .drop a:hover{
    color: rgb(50, 78, 169);
}

.nav .main .list .two .drop li:hover span{
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
}

.nav .main .list .three .drop{
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #ffffff; 
    width: 300px;
    height: 250px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, top 0.3s ease;
    z-index: 1;
}

.nav .main .list .three .drop li{
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-weight: 400;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.nav .main .list .three .drop span{
    opacity: 0;
    margin-left: 5px;
    transition: margin-right 0.3s ease,margin-left 0.3s ease,opacity 0.3s ease;
    color: black;
}

.nav .main .list .three .drop li:hover{
    background-color: rgb(191, 221, 114);
}

.nav .main .list .three .drop a:hover{
    color: rgb(50, 78, 169);
}

.nav .main .list .three .drop li:hover span{
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
}

.nav .main .list .four .drop{
    position: absolute;
    top: 65px;
    right: 0px;
    background-color: #ffffff; 
    width: 1015px;
    height: 350px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, top 0.3s ease;
    z-index: 1;
}

.nav .main .list .four .drop ul{
    display: inline-block;
    width: 250px;
    height: 350px;
}

.nav .main .list .four .drop li{
    display: block;
    width: 260px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-weight: 400;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.nav .main .list .four .drop span{
    opacity: 0;
    margin-left: 5px;
    transition: margin-right 0.3s ease,margin-left 0.3s ease,opacity 0.3s ease;
    color: black;
}

.nav .main .list .four .drop li:hover{
    background-color: rgb(191, 221, 114);
}

.nav .main .list .four .drop a:hover{
    color: rgb(50, 78, 169);
}

.nav .main .list .four .drop li:hover span{
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
}
/**/
.searchbox{
    position: fixed;
    top: 0;
    left: 1250px;
    width: 300px;
    height: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(2, 180, 249, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease,top 0.3s ease;
}

.searchbox::-webkit-scrollbar {
    width: 6px;
}
  
.searchbox::-webkit-scrollbar-track {
    background: rgb(0, 119, 181); 
}
   
.searchbox::-webkit-scrollbar-thumb {
    background: rgba(2, 180, 249, 0.6); 
}
  
.searchbox::-webkit-scrollbar-thumb:hover {
    background: rgba(2, 180, 249, 0.8); 
}

.searchbox input[type="text"]{
    width: 295px;
    height: 30px;
    margin-bottom: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border: 3px solid transparent;
    outline: none;
    transition: border 0.3s ease;
}

.searchbox input[type="text"]:focus{
    border: 3px solid rgb(0, 150, 224);
}

.searchbox li{
    padding: 10px;  
    background-color: white;  
    margin-bottom: 10px;  
    border-radius: 4px;  
    transition: background-color 0.3s;  
}

.searchbox li:hover{
    background-color: rgba(255, 255, 255, 0.6); 
}

.searchbox li a{
    color: rgb(41, 41, 41);
}
/**/
.banner{
    position: relative;
    width: 100%;
    height: 425px;
    background-color: rgb(2, 180, 249);
}

.banner .box{
    width: 1684px;
    height: 425px;
    margin: 0 auto;
    background-color: rgb(2, 180, 249);
}
.banner .box h2{
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.banner .box p{
    position: relative;
    top: 300px;
    text-align: center;
    font-size: 18px;
    color: white;
}
.banner .box span{
    position: relative;
    font-size: 20px;
    margin:0 22px 0 12px;
}

.text1{
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 25px;
}

.text1 h2{
    position: relative;
    text-align: center;
    top: 80px;
    font-size: 40px;
    color: rgb(65, 64, 66);
}

.text1 .youjian1{
    position:relative;
    top:50px;
    left:0px;
    width: 150px;
    height:40px;
    border: 3px solid transparent;
    background-color: rgb(2, 180, 249);
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
}

.text1 .youjian1:hover span {  
    color: rgb(0, 150, 224) !important;  
}

.text1 .youjian1:hover{
    background-color: transparent;
    border:3px solid rgb(0, 150, 224);
    color: rgb(0, 150, 224);
}

.text1 .youjian2{
    position:relative;
    top:50px;
    left:0px;
    width: 150px;
    height:40px;
    border: 3px solid transparent;
    background-color: rgb(2, 180, 249);
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
}

.text1 .youjian2:hover span {  
    color: rgb(0, 150, 224) !important;  
}

.text1 .youjian2:hover{
    background-color: transparent;
    border:3px solid rgb(0, 150, 224);
    color: rgb(0, 150, 224);
}

.text1 .youjian3{
    position:relative;
    top:50px;
    left:0px;
    width: 150px;
    height:40px;
    border: 3px solid transparent;
    background-color: rgb(2, 180, 249);
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
}

.text1 .youjian3:hover span {  
    color: rgb(0, 150, 224) !important;  
}

.text1 .youjian3:hover{
    background-color: transparent;
    border:3px solid rgb(0, 150, 224);
    color: rgb(0, 150, 224);
}

.text1 .swiper-container {
    position: relative;
    top: 60px;
    width: 1305px;
    height: 350px;
    margin: 20px auto;
}
.text1 .swiper-slide {
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.text1 img{
    border-radius: 4px;
}

.text1 .swiper-slide .text1-left{
    position: relative;
    top: 50px;
    left: -345px;
}

.text1 .swiper-slide .text1-left h4{
    position: relative;
    top: -155px;
    left: 175px;
    color: rgb(2, 180, 249);
    font-size: 25px;
}

.text1 .swiper-slide .text1-left span{
    position: relative;
    top: -135px;
    left: 175px;
    color:rgb(138, 136, 136);
    font-size: 17px;
}

.text1 .swiper-slide .text1-left p{
    position: relative;
    top: -120px;
    left: 175px;
    color:rgb(105, 102, 111);
    font-size: 17px;
}

.text1 .swiper-slide .text1-center{
    position: relative;
    top: 30px;
    left: -100px;
}

.text1 .swiper-slide .text1-center h4{
    position: relative;
    top: -155px;
    left: 175px;
    color: rgb(2, 180, 249);
    font-size: 25px;
}

.text1 .swiper-slide .text1-center span{
    position: relative;
    top: -135px;
    left: 175px;
    color:rgb(138, 136, 136);
    font-size: 17px;
}

.text1 .swiper-slide .text1-center p{
    position: relative;
    top: -120px;
    left: 175px;
    color:rgb(105, 102, 111);
    font-size: 17px;
}

.text1 .swiper-slide .text1-right{
    position: relative;
    top: 30px;
    left: 150px;
}

.text1 .swiper-slide .text1-right h4{
    position: relative;
    top: -155px;
    left: 175px;
    color: rgb(2, 180, 249);
    font-size: 25px;
}

.text1 .swiper-slide .text1-right span{
    position: relative;
    top: -135px;
    left: 175px;
    color:rgb(138, 136, 136);
    font-size: 17px;
}

.text1 .swiper-slide .text1-right p{
    position: relative;
    top: -120px;
    left: 175px;
    color:rgb(105, 102, 111);
    font-size: 17px;
}


.text2{
    position: relative;
    width: 100%;
    height: 520px;
}

.text2 .box1{
    display: flex;
    width: 1684px;
    height: 520px;
    margin: 0 auto;
}

.box1 .text2-one{
    position: relative;
    width: 420px;
    height: 520px;
}

.box1 .text2-one .hover-area {
    position: relative;
    display: inline-block;
    top: -460px;
    padding: 240px;
    color: #333;
    cursor: pointer;
}
 
.box1 .text2-one .hover-area::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 420px;
    height: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
 
.box1 .text2-one .hover-area:hover::after {
    background-color: rgb(180 236 97);
}

.box1 .text2-two{
    position: relative;
    width: 420px;
    height: 520px;
}

.box1 .text2-two .hover-area {
    position: relative;
    top: -460px;
    display: inline-block;
    padding: 240px;
    color: #333;
    cursor: pointer;
}
 
.box1 .text2-two .hover-area::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 420px;
    height: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
 
.box1 .text2-two .hover-area:hover::after {
    background-color: rgb(180 236 97);
}

.box1 .text2-three{
    position: relative;
    width: 420px;
    height: 520px;
}

.box1 .text2-three .hover-area {
    position: relative;
    display: inline-block;
    top: -460px;
    padding: 240px;
    color: #333;
    cursor: pointer;
}
 
.box1 .text2-three .hover-area::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 420px;
    height: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
 
.box1 .text2-three .hover-area:hover::after {
    background-color: rgb(180 236 97);
}

.box1 .text2-four{
    position: relative;
    width: 420px;
    height: 520px;
}

.box1 .text2-four .hover-area {
    position: relative;
    display: inline-block;
    top: -460px;
    padding: 240px;
    color: #333;
    cursor: pointer;
}
 
.box1 .text2-four .hover-area::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 420px;
    height: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
 
.box1 .text2-four .hover-area:hover::after {
    background-color: rgb(180 236 97);
}

.box1 .background{
    position: relative;
    top: -5px;
    width: 425px;
    height: 100px;
    background-color: rgb(0 93 129);
}

.box1 .text2-one h4{
    position: relative;
    top: 20px;
    left: 40px;
    color:rgb(180 236 97);
    font-size: 22px;
}

.box1 .text2-one p{
    position: relative;
    top: 30px;
    left: 40px;
    color:white;
}

.box1 .text2-two h4{
    position: relative;
    top: 20px;
    left: 40px;
    color:rgb(180 236 97);
    font-size: 22px;
}

.box1 .text2-two p{
    position: relative;
    top: 30px;
    left: 40px;
    color:white;
}

.box1 .text2-three h4{
    position: relative;
    top: 20px;
    left: 40px;
    color:rgb(180 236 97);
    font-size: 22px;
}

.box1 .text2-three p{
    position: relative;
    top: 30px;
    left: 40px;
    color:white;
}

.box1 .text2-four h4{
    position: relative;
    top: 20px;
    left: 40px;
    color:rgb(180 236 97);
    font-size: 22px;
}

.box1 .text2-four p{
    position: relative;
    top: 30px;
    left: 40px;
    color:white;
}
/**/
/**/
.team{
    width: 100%;
    height: 800px;
}

.team .box{
    width: 1684px;
    height: 800px;
    text-align: center;
    margin:50px auto;
}

.team .box .title{
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 820px;
    height: 60px;
    text-align: center;
}

.team .box .title h1{
    color: rgb(65, 64, 66);
    font-size: 40px;
}

.team .box .box1{
    width: 1600px;
    height: 625px;
    margin: 0 auto;
    margin-bottom: 0;
}

.team .box .left{
    position: relative;
    display: inline-block;
    top: 75px;
    width: 325px;
    height: 600px;
    margin: 0 15px;
    text-align: left;
    background-color: white;
}

.team .box .left img{
    float: left;
    width: 325px;
    height: 325px;
}

.team .box .left .c{
    float: left;
    width: 320px;
    height: auto;
}

.team .box .left .c h2{
    margin: 20px 0;
    color: rgb(2, 180, 249);
}

.team .box .left .c i{
    display: block;
    margin-bottom: 45px;
    font-size: 18px;
    color: rgb(161, 161, 161);
}

.team .box .left .c p{
    font-size: 18px;
    color: rgb(115, 114, 115);
}

.team .box .left .divider1{
    position: relative;
    float: left;
    top: 120px;
    width: 325px;
    height: 2px;
    background-color:rgb(234, 239, 241);
}

.team .box .left .cover{
    position: relative;
    top: -563px;
    float: left;
    width: 325px;
    height: 325px;
    text-align: center;
    background-color: rgba(2, 180, 249,0);
    transition: background-color 0.3s ease;
}

.team .box .left .cover .b{
    position: relative;
    top: 200px;
    width: 325px;
    height: 80px;
    line-height: 80px;
}

.team .box .left .cover .b .c1{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
    
}

.team .box .left .cover .b .c1 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .left .cover .b .c1:hover span{
    color: white;
}

.team .box .left .cover .b .c1:hover{
    background-color: rgb(59, 89, 152);
}

.team .box .left .cover:hover .c1{
    opacity: 1;
    transform: translateY(-5px);
}

.team .box .left .cover:not(:hover) .c1{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.05s;
}

.team .box .left .cover .b .c2{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .left .cover .b .c2 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .left .cover .b .c2:hover span{
    color: white;
}

.team .box .left .cover .b .c2:hover{
    background-color: rgb(29, 161, 242);
}

.team .box .left .cover:hover .c2{
    opacity: 1;
    transform: translateY(-5px);
    transition-delay: 0.1s;
}

.team .box .left .cover:not(:hover) .c2{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.15s;
}

.team .box .left .cover .b .c3{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .left .cover .b .c3 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .left .cover .b .c3:hover span{
    color: white;
}

.team .box .left .cover .b .c3:hover{
    background-color: rgb(237, 73, 90);
}

.team .box .left .cover:hover .c3{
    opacity: 1;
    transform: translateY(-5px);
    transition-delay: 0.15s;
}

.team .box .left .cover:not(:hover) .c3{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.25s;
}

.team .box .left .cover:hover{
    background-color: rgba(2, 180, 249,0.8);
}

.team .box .center-1{
    position: relative;
    display: inline-block;
    top: 75px;
    width: 325px;
    height: 600px;
    margin: 0 15px;
    text-align: left;
    background-color: white;
}

.team .box .center-1 img{
    float: left;
    width: 325px;
    height: auto;
}

.team .box .center-1 .c{
    float: left;
    width: 325px;
    height: auto;
}

.team .box .center-1 .c h2{
    margin: 20px 0;
    color: rgb(2, 180, 249);
}

.team .box .center-1 .c i{
    display: block;
    margin-bottom: 45px;
    font-size: 18px;
    color: rgb(161, 161, 161);
}

.team .box .center-1 .c p{
    font-size: 18px;
    color: rgb(115, 114, 115);
}

.team .box .center-1 .divider1{
    position: relative;
    float: left;
    top: 120px;
    width: 325px;
    height: 2px;
    background-color:rgb(234, 239, 241);
}

.team .box .center-1 .cover{
    position: relative;
    top: -539px;
    float: left;
    width: 325px;
    height: 325px;
    text-align: center;
    background-color: rgba(2, 180, 249,0);
    transition: background-color 0.3s ease;
}

.team .box .center-1 .cover .b{
    position: relative;
    top: 200px;
    width: 325px;
    height: 80px;
    line-height: 80px;
}

.team .box .center-1 .cover .b .c1{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .center-1 .cover .b .c1 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .center-1 .cover .b .c1:hover span{
    color: white;
}

.team .box .center-1 .cover .b .c1:hover{
    background-color: rgb(59, 89, 152);
}

.team .box .center-1 .cover:hover .c1{
    opacity: 1;
    transform: translateY(-5px);
}

.team .box .center-1 .cover:not(:hover) .c1{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.05s;
}

.team .box .center-1 .cover .b .c2{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .center-1 .cover .b .c2 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .center-1 .cover .b .c2:hover span{
    color: white;
}

.team .box .center-1 .cover .b .c2:hover{
    background-color: rgb(29, 161, 242);
}

.team .box .center-1 .cover:hover .c2{
    opacity: 1;
    transform: translateY(-5px);
    transition-delay: 0.1s;
}

.team .box .center-1 .cover:not(:hover) .c2{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.15s;
}

.team .box .center-1 .cover .b .c3{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .center-1 .cover .b .c3 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .center-1 .cover .b .c3:hover span{
    color: white;
}

.team .box .center-1 .cover .b .c3:hover{
    background-color: rgb(237, 73, 90);
}

.team .box .center-1 .cover:hover .c3{
    opacity: 1;
    transform: translateY(-5px);
    transition-delay: 0.15s;
}

.team .box .center-1 .cover:not(:hover) .c3{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.25s;
}

.team .box .center-1 .cover:hover{
    background-color: rgba(2, 180, 249,0.8);
}

.team .box .center-2{
    position: relative;
    display: inline-block;
    top: 75px;
    width: 325px;
    height: 600px;
    margin: 0 15px;
    text-align: left;
    background-color: white;
}

.team .box .center-2 img{
    float: left;
    width: 325px;
    height: auto;
}

.team .box .center-2 .c{
    float: left;
    width: 325px;
    height: auto;
}

.team .box .center-2 .c h2{
    margin: 20px 0;
    color: rgb(2, 180, 249);
}

.team .box .center-2 .c i{
    display: block;
    margin-bottom: 45px;
    font-size: 18px;
    color: rgb(161, 161, 161);
}

.team .box .center-2 .c p{
    font-size: 18px;
    color: rgb(115, 114, 115);
}

.team .box .center-2 .divider1{
    position: relative;
    float: left;
    top: 120px;
    width: 325px;
    height: 2px;
    background-color:rgb(234, 239, 241);
}

.team .box .center-2 .cover{
    position: relative;
    top: -539px;
    float: left;
    width: 325px;
    height: 325px;
    text-align: center;
    background-color: rgba(2, 180, 249,0);
    transition: background-color 0.3s ease;
}

.team .box .center-2 .cover .b{
    position: relative;
    top: 200px;
    width: 325px;
    height: 80px;
    line-height: 80px;
}

.team .box .center-2 .cover .b .c1{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .center-2 .cover .b .c1 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .center-2 .cover .b .c1:hover span{
    color: white;
}

.team .box .center-2 .cover .b .c1:hover{
    background-color: rgb(59, 89, 152);
}

.team .box .center-2 .cover:hover .c1{
    opacity: 1;
    transform: translateY(-5px);
}

.team .box .center-2 .cover:not(:hover) .c1{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.05s;
}

.team .box .center-2 .cover .b .c2{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .center-2 .cover .b .c2 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .center-2 .cover .b .c2:hover span{
    color: white;
}

.team .box .center-2 .cover .b .c2:hover{
    background-color: rgb(29, 161, 242);
}

.team .box .center-2 .cover:hover .c2{
    opacity: 1;
    transform: translateY(-5px);
    transition-delay: 0.1s;
}

.team .box .center-2 .cover:not(:hover) .c2{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.15s;
}

.team .box .center-2 .cover .b .c3{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .center-2 .cover .b .c3 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .center-2 .cover .b .c3:hover span{
    color: white;
}

.team .box .center-2 .cover .b .c3:hover{
    background-color: rgb(237, 73, 90);
}

.team .box .center-2 .cover:hover .c3{
    opacity: 1;
    transform: translateY(-5px);
    transition-delay: 0.15s;
}

.team .box .center-2 .cover:not(:hover) .c3{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.25s;
}

.team .box .center-2 .cover:hover{
    background-color: rgba(2, 180, 249,0.8);
}

.team .box .right{
    position: relative;
    display: inline-block;
    top: 75px;
    width: 325px;
    height: 600px;
    margin: 0 15px;
    text-align: left;
    background-color: white;
}

.team .box .right img{
    float: left;
    width: 325px;
    height: auto;
}

.team .box .right .c{
    float: left;
    width: 325px;
    height: auto;
}

.team .box .right .c h2{
    margin: 20px 0;
    color: rgb(2, 180, 249);
}

.team .box .right .c i{
    display: block;
    margin-bottom: 45px;
    font-size: 18px;
    color: rgb(161, 161, 161);
}

.team .box .right .c p{
    font-size: 18px;
    color: rgb(115, 114, 115);
}

.team .box .right .divider1{
    position: relative;
    float: left;
    top: 120px;
    width: 325px;
    height: 2px;
    background-color:rgb(234, 239, 241);
}

.team .box .right .cover{
    position: relative;
    top: -563px;
    float: left;
    width: 325px;
    height: 325px;
    text-align: center;
    background-color: rgba(2, 180, 249,0);
    transition: background-color 0.3s ease;
}

.team .box .right .cover .b{
    position: relative;
    top: 200px;
    width: 325px;
    height: 80px;
    line-height: 80px;
}

.team .box .right .cover .b .c1{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .right .cover .b .c1 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .right .cover .b .c1:hover span{
    color: white;
}

.team .box .right .cover .b .c1:hover{
    background-color: rgb(59, 89, 152);
}

.team .box .right .cover:hover .c1{
    opacity: 1;
    transform: translateY(-5px);
}

.team .box .right .cover:not(:hover) .c1{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.05s;
}

.team .box .right .cover .b .c2{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .right .cover .b .c2 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .right .cover .b .c2:hover span{
    color: white;
}

.team .box .right .cover .b .c2:hover{
    background-color: rgb(29, 161, 242);
}

.team .box .right .cover:hover .c2{
    opacity: 1;
    transform: translateY(-5px);
    transition-delay: 0.1s;
}

.team .box .right .cover:not(:hover) .c2{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.15s;
}

.team .box .right .cover .b .c3{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    opacity: 0;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.25s ease,background-color 0.25s ease;
    cursor: pointer;
    transform: translateY(20px);
}

.team .box .right .cover .b .c3 span{
    font-size: 35px;
    color: black;
    transition: color 0.25s ease;
}

.team .box .right .cover .b .c3:hover span{
    color: white;
}

.team .box .right .cover .b .c3:hover{
    background-color: rgb(237, 73, 90);
}

.team .box .right .cover:hover .c3{
    opacity: 1;
    transform: translateY(-5px);
    transition-delay: 0.15s;
}

.team .box .right .cover:not(:hover) .c3{
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0.25s;
}

.team .box .right .cover:hover{
    background-color: rgba(2, 180, 249,0.8);
}
/**/
.bottom{
    width: 100%;
    height: 650px;
    background-color: rgb(34, 53, 73);
}

.bottom .box{
    width: 1684px;
    height: 650px;
    margin: 0 auto;
    background-color: rgb(34, 53, 73);
}

.bottom .box .bottom1{
    position: relative;
    display: flex;
    top: 100px;
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgb(34, 53, 73);
}
#map{
    position: relative;
    top: 75px;
    margin: 0 auto;
    width: 1200px;
    height: 175px;
}

.bottom .box .left{
    display: inline-block;
    width: 375px;
    height: 300px;
    background-color: rgb(34, 53, 73);
}

.bottom .box .center{
    display: inline-block;
    width: 375px;
    height: 300px;
    margin:0 37px;
    background-color: rgb(34, 53, 73);
}

.bottom .box .right{
    display: inline-block;
    width: 375px;
    height: 300px;
    background-color: rgb(34, 53, 73);
}

.bottom .box .left p{
    position: relative;
    top: 20px;
    padding: 0 285px 0 0;
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.bottom .box .left .left1{
    position: relative;
    display: inline-block;
    width: 325px;
    height: 120px;
    top: 60px;
    text-align: left;
    font-size: 16px;
    color: rgb(200, 200, 200);
}

.bottom .box .left .left1 li{
    margin-bottom: 12px;
}

.bottom .box .left .icon{
    position: relative;
    display: inline-block;
    top: 32px;
    left: -3px;
    width: 36px;
    height: 120px;
}

.bottom .box .left .icon span{
    font-size: 25px;
    color: rgb(180, 236, 97);
}

.bottom .box .left .left2{
    position: relative;
    top: 35px;
    left: -8px;
    width: 300px;
    height: 50px;
    line-height: 50px;
}

.bottom .box .left .left2 span{
    font-size: 25px;
    margin-right: 20px;
    color: rgb(115,114,115);
    transition: color 0.3s;
    cursor: pointer;
}

.bottom .box .left .left2 .icon-facebook:hover{
    color: rgb(59, 89, 152);
}
.bottom .box .left .left2 .icon-twitter-fill:hover{
    color: rgb(29, 161, 242);
}
.bottom .box .left .left2 .icon-instagram:hover{
    color: rgb(237, 73, 90);
}
.bottom .box .left .left2 .icon-google:hover{
    color: rgb(219, 68, 55);
}
.bottom .box .left .left2 .icon-pinterest:hover{
    color: rgb(189, 8, 28);
}
.bottom .box .left .left2 .icon-linkedin:hover{
    color: rgb(0, 119, 181);
}

.bottom .box .center .center1{
    position: relative;
    width: 325px;
    height: 200px;
    top: 59px;
    left: 5px;
    color: rgb(200, 200, 200);
}

.bottom .box .center p{
    position: relative;
    padding: 0 285px 0 0;
    top: 20px;
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.bottom .box .center .center1 li{
    position: relative;
    margin-bottom: 12px;
}

.bottom .box .center .center1 li a{
    color: rgb(163, 217, 95);
}

.bottom .box .center .center1 li a:hover{
    color: rgb(2, 180, 249);
}

.bottom .box .center .center1 span{
    font-size: 18px;
    color: rgb(200, 200, 200);
    margin-right: 20px;
}

.bottom .box .right .p1{
    position: relative;
    padding: 0 330px 0 0;
    top: 20px;
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.bottom .box .right .right1{
    position: relative;
    width: 375px;
    height: 50px;
    top: 60px;
    color: rgb(200, 200, 200);
}

.bottom .box .right .dingyue{
    position: relative;
    top: 75px;
    width: 375px;
    height: 50px;
    text-align: left;
}

.bottom .box .right .dingyue input[type=text]{
    width: 375px;
    height: 45px;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.bottom .box .right .dingyue input[type=submit]{
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 45px;
    font-weight: 600;
    background-color: rgb(2, 180, 249);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.bottom .box .right .dingyue input[type=submit]:hover{
    background-color: rgb(0, 150, 224);
}

.bottom .box .bottom1 .divider{
    position: relative;
    top: 31px;
    width: 375px;
    height: 1px;
    background: linear-gradient(to right, rgb(18,116,161) 10%, rgb(45,63,82) 10%);
}
/**/
#top{
    position: fixed;
    bottom: -75px;
    right: 50px;
    width: 65px;
    height: 65px;
    border: none;
    outline: none;
    background-color: rgb(2, 180, 249);
    cursor: pointer;
    border-radius: 50%;
    transition: bottom 0.25s;
    z-index: 99;
}

#top span{
    color: white;
    font-size: 35px;
}